:root {
    --orange: #F54914;
    --bg: black;
    --shadow: 0 2px 2px rgba(0,0,0/0.5);
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--bg);
    overflow: visible;
}

.envelope {
    position: relative;
    min-height: 100vh;
}

.envelope::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./img/background.webp);
    filter: blur(2px) brightness(0.5);
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.envelope h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
    text-shadow: black 0px 0px 10px;
}

.envelope h2, .info h2, .konfirmasi h2 {
    color: var(--orange);
    text-shadow: black 0px 0 10px;
}

.envelope p {
    font-size: 1.5rem;
}

.envelope a, .info a, .countdown a, .konfirmasi button{
    color: white;
    background-color: var(--orange);
}

.envelope a:hover, .info a:hover, .countdown a:hover, .konfirmasi button:hover {
    color: var(--orange);
    background-color: white;
}

.bridegroom .couple {
    margin-top: 50px;
}

.bridegroom h3 {
    font-family: 'sacramento', cursive;
    color: var(--orange);
    font-size: 2.5rem;
}

.bridegroom .couple img {
    width: 100%;
}

.info {
    position: relative;
}

.info label {
    font-size: 1rem;
    color: white;
}

.info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./img/countdownrunv3.webp);
    filter: brightness(0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.info .alamat {
    font-size: 1.1rem;
}

.info .tanggal {
    font-size: 1.5rem;
    color: var(--orange);
}

.info p {
    text-shadow: black 0px 0px 10px;
}

.carousel-inner {
    justify-content: center;
    align-items: center;
}

.audio-icon-wrapper {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    cursor: pointer;
    opacity: 0.5;
    mix-blend-mode: difference;
    animation: rotate 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 50%;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}